# General
.DS_Store
*.log
.env
.vscode/
.idea/

# Python - python_api/
python_api/venv/
python_api/__pycache__/
python_api/*.pyc
python_api/*.pyo

# Rust - rust_cli/
/rust_cli/target/
**/*.rs.bk
*.pdb
**/mutants.out*/

# History file
history.txt